*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    
}
/*------------------- Header part Styles -------------------------*/
.header{
    background-color: #00aeff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    background-color: #fff;
    font-size: 50px;
    color: #000;
    border-radius: 30%;
    padding: 3px 6px;
    margin: auto 5px;
}
span{
    color:#0a78ab;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    border-radius: 9%;
    margin-right: 10px;
    margin-top: 10px;

}
.nav-bar li {
    padding: 10px 0px;
    list-style-type: none;
    
}
.nav-bar a{
   
    padding-right: 5px;
    font-size: large;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}
/*------------------- Cards style ----------------------*/
.cards{
    margin: 20px;
    display: flex;
}
.card{
    border: 1px solid black;
    border-radius: 9px;
    height: 100%;
    width: max-content;
    background-color: #04acf9;
    margin: 10px;
}
.card img{
    border: 2px solid black;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
}
.card-info{
    border-radius: 9px;
    margin: 9px;
    padding: 2px;
    font-size: 18px;
    font: bold;
    background-color: #fff;
}
.card-info p {
    margin: 2px;
}
.scroll-amount{
    overflow: auto;
    white-space: nowrap ;
    scroll-behavior: auto;
}
