*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: aliceblue;
    font-size: large;
}
.title{
    background-color: #0a78ab;
    color: #fff;
    text-align: center;
}
.container{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 20% 10%;
}
.loginInputs input, .registerInputs input{
	margin:20px;
}
input{
	padding:10px;
	width:70%;
	border-style:inset;
	border-radius:30px;
}
.subtn{
    border-radius: 10px 20px;
	width:40%;
    background-color: blue;
    color: #fff;
}
form{
	margin:0 30%;
	border: 2px solid #0a78ab;
	border-radius: 10px;
}
.passage{
    font-size: small;
    margin-bottom: 10px;
}
.container form{
    margin: 0 20%;
}